

#taxonomy-manager-form {
  width: 100%;
}

/**
 * Taxonomy Manager Tree formating
 */
#taxonomy-manager-tree-outer-div {
  float: left;
  height: 550px;	
  overflow: auto;
  width: 350px;
  margin: 0;
  padding: 0;
}

#taxonomy-manager-tree-outer-div fieldset {
  margin: 0;
  padding: 5px;
}

.treeview, .treeview ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

.treeview .form-item {
  margin: 0;
  padding: 0;
}

.treeview li { 
  margin: 0;
  padding: 0 0 0 15px;
}
	
.hitArea {
  float: left;
  height: 15px;
  width: 15px;
  margin-left: -15px;
  cursor: pointer;
  _background: #fff;
  _filter: alpha(opacity=0);
  _display: inline;
}

.treeview li { background: url(../images/tv-item.gif) 0 0 no-repeat; }
.treeview .collapsable { background-image: url(../images/tv-collapsable.gif); }
.treeview .expandable { background-image: url(../images/tv-expandable.gif); }
.treeview .last { background-image: url(../images/tv-item-last.gif); }
.treeview .lastCollapsable { background-image: url(../images/tv-collapsable-last.gif); }
.treeview .lastExpandable { background-image: url(../images/tv-expandable-last.gif); }

.term-line {
  border-top: 1px solid #cccccc;
  display: inline;
}

.term-item {
  float: left;
}

.term-has-more-siblings {
  float: right;
  height: 38px;
}

.term-next-count {
  float: left;
  padding-top: 10px;
  color: #4ca108;
}

.term-downarrow-img {
  float: left;
}

.term-operations {
  float: left;
}


/**
 * Taxonomy Manger Toolbar
 */
#taxonomy-manager-toolbar{
  margin-top: 0;
}

#taxonomy-manager-toolbar-throbber{
  float: right;
  margin: 0px;
  padding: 0px;
}

#taxonomy-manager-toolbar-buttons{
  height: 33px;
  float:left;
}

input.taxonomy-manager-buttons {
  border: thin solid;
  border-color: #cccccc #555555 #555555 #cccccc;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position:3px;
  padding-left: 25px;
  padding-bottom: 3px;
  height: 28px;
}

input.add {
  background-image: url(../images/list-add.png);
}

input#edit-weight-up {
  background-image: url(../images/go-up.png);
}

input#edit-weight-down {
  background-image: url(../images/go-down.png);
}

input.delete {
  background-image: url(../images/list-remove.png);
}

input.move {
  background-image: url(../images/move.png);
}

input.merge {
  background-image: url(../images/merge.png);
}

input.cancel {
  background-image: url(../images/dialog-cancel.png);
}

input.search {
  background-image: url(../images/edit-find.png);
}

input.export {
  background-image: url(../images/csv.png);
}


/**
 * Taxonomy Manager Search
 */
#taxonomy-manager-search .fieldset-wrapper {
  overflow: visible; /*fixes hidden autocomplete result in FF*/
}

#edit-search-button {
  margin-top: 15px;
  margin-left: 10px;
  float: left;
}

#edit-find-field {
  float: left;
  line-height: 150%;
}

#edit-find-field .form-item {
  padding: 0;
  margin: 0;
}


/**
 * Term Data Form
 */
#taxonomy-term-data {
  float: left;
  margin-left: 20px;
  font-size: 12px;
  line-height: 150%;
}

#taxonomy-term-data textarea {
  line-height: 150%;
  font-size: 12px;
}

#taxonomy-term-data .resizable-textarea {
  width: 100%;
}

#taxonomy-term-data .form-item{
  width: 100%;
}

#taxonomy-term-data-fieldset {
  margin: 0;
  padding: 10px;
}

#taxonomy-term-data-fieldset .form-item {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.taxonomy-term-data-table {
  width: 380px;
  margin: 1em 0 0 0;
}

.taxonomy-term-data-name {
  width: 350px;
}

.taxonomy-term-data-operations {
  width: 20px;
  padding-left:0.8em;
}

.taxonomy-term-data-table td {
  margin: 0;
  padding: 0px 0px 0px 10px;
}
.taxonomy-term-data-table th {
  padding: 0;
}


.term-data-autocomplete {
  float: left;
  width: 350px;
}
.term-data-autocomplete-add {
  float: left; 
  margin-bottom:0.5em;
  margin-top:0.3em;
  padding-left:0.8em;
}

.term-data-autocomplete input {
  width: 100%;
}

#term-data-name-save {
  padding-top: 23px;
  padding-left: 10px;
  float: left;
}

#term-data-name-field {
  float: left;
  width: 350px;
}

#edit-term-data-name {
  width: 100%;
}

#term-data-description {
  height: 130px;
 /* width: 350px;*/
}

#term-data-description-save {
  padding-top: 105px;
  padding-left: 10px;
  float: left;
}

#term-data-description-field {
  float: left;
  /*width: 350px;
  height: 130px;*/
  width: 350px;
  /*height: 100%;*/
}

#term-data-description-field .resizable-textarea {
  width: 100%;
  /*height: 100%;*/
}

#term-data-description-field .form-item {
  width: 100%;
  /*height: 100%;*/
}

#term-data-description-field textarea {
  width: 100%;
 /* height: 75%;*/
}

#edit-term-data-description textarea {
  width: 100%;
 /* height: 100%;*/
}

#edit-term-data-description {
  widht: 100%;
 /* height: 100%;*/
}


.clear {
  clear: both;
}	
